[Unit]
Description=YouTube Live Stream (Jericho NPS)
# Don't start until the network is fully up and DNS works
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jericho
WorkingDirectory=/home/jericho/youtube-streamer

ExecStart=/home/jericho/youtube-streamer/venv/bin/python3 /home/jericho/youtube-streamer/stream.py

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target