.grid-container {
    display: grid;
    grid-gap: 0.7em;
    grid-template-columns: 20vw 20vw;
    max-width: 15000px; 
    justify-content: center;
}

.box {
    background-color: #333;
    border-radius: 10px;
    padding: 1em;
}