h1 {
    text-align: center;
    font-family: sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wtstock1.jpg");
  background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10em; /* Offset the Bootstrap navbar height */
    padding-top: 10em; /* Add padding to prevent content from going under navbar */
    gap: 1em;
}

/* .main-img:hover {
    filter:blur(0.2em) brightness(1.1);
    box-shadow: 1em 0.5em black;
} */

/* replace your CSS with something from this website: 
 * https://css-tricks.com/design-considerations-text-images/
 * Trust me, his examples look pretty good.
 */