.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h2 {
    text-align: center;
}

.error {
    text-align: center;
    color: red;
}