body {
    background-color: #1e1e1e;
    color: #ababab;
}

.logo {
    width: 2em;
    height: 2em;
}

.page-title {
    color: goldenrod;
    text-decoration: none;
}

/* note to self: figure out how to override Bootstrap styling to make the buttons gold */