body {
    background-color: #1e1e1e;
    color: #ababab;
}

/* This  shouldn't be needed anymore. 
 .topnav {
    position: fixed;
    top: 0;
    width: 100%;
} */

body {
    padding-top: 4em;
}

.logo {
    width: 1.5em;
    height: 1.5em;
}